body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.resultados {
  padding: 0.5rem 0.5rem;
}

button {
  margin: 0.25rem 0.125rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f8f9fa;
  border-radius: 0.375rem;
  background-color: #f8f9fa;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
  color: #000000;
  background-color: #d3d4d5;
  border-color: #c6c7c8;
}

button:disabled {
  color: #000000;
  pointer-events: none;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  opacity: 0.65;
}